@model IEnumerable<COMP2007_Assignment2_SakibPatel.Models.Description>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DescriptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DescriptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DescriptionID })
        </td>
    </tr>
}

</table>
